.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(6, 59, 92);
    color: white;
    height: 100px;
    position: sticky;
    top: 0;
    z-index: 101;
}
.nav h1{
    margin-left: 1rem;
  padding: 0.5rem;
  font-size: 2rem;
  color: white;
  text-decoration: none;
}
.nav h1 a{
  color: white;
  text-decoration: none;
}
.nav ul{
    display: flex;
    list-style: none;
    font-size: 1.5rem;
}

.nav ul li{
    padding: 0 1rem;
}

.nav ul li a{
    text-decoration: none;
    color: inherit;
}

.nav div input {
    padding: 1rem 0.6rem;
    width: 20rem;
    border-radius: 0.4rem 0rem 0rem 0.4rem;
    outline: none;
    border: none;
}
.nav div button {
    padding: 1rem 0.6rem;
    width: 4rem;
    border-radius: 0rem 0.4rem 0.4rem 0rem;
    border: none;
}

.suggestedResult{
    position: absolute;
    display: flex;
    flex-direction: column;
    color: rgb(6, 59, 92);
    background-color: white;
    width: 380px;
    border-radius: 10px;
    top: 100px;
    box-shadow: 1px 3px 10px;
}

ul li a{
    cursor: pointer;
}