
<div class="row search-item" *ngIf="productData">
    <div class="col-sm-4 image">
        <img src={{productData.image}} alt="">
        
    </div>
    <div class="col-sm-7 details">
      <h3>{{productData.name}}</h3>
      <p><b>Rs.{{productData.price}}</b></p>
      <p class="span"><span>Color: <h6 [style.backgroundColor]="productData.color" class="color"></h6></span></p>
      <p class="span"><span>Category:{{productData.category}}</span></p>
      <p class="description">{{productData.description}}</p>
      <div>
        <button *ngIf="!removeCart" (click)="AddToCart()">Add Cart</button>
        <button *ngIf="removeCart" (click)="removeToCart(productData.id)">Remove Cart</button>
        <button>Buy Now</button>
      </div>
      <div>
        <button (click)="handlequantity('plus')">+</button>
        <input type="text" value="{{productQuantity}}">
        <button (click)="handlequantity('minus')">-</button>
      </div>
    </div>
</div>